<div class='container'>
  <h1>Sierra Snowpack</h1>
  <p><%= @measurement.date.strftime('%m/%d/%y') %> Snow-water equivalent <%= number_to_percentage(@measurement.percent, precision: 0) %> of avg</p>

  <div class='scenery'>
      <div class='window'>
        <div class='snow'></div>
      </div>
  </div>
  <p class='footer'><p class='texter'><%= copyright_notice_year_range(2014) %> <a target='_blank' href="http://github.com/brooks">Broppler</a>  All Rights Reserved</p></p>
</div>

<style type="text/css">
.snow {
  top: <%= @measurement.top %>%;
}

.scenery {
  background-image: url(<%= @measurement.url %>);
}
</style>
